* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(233, 225, 225, 0.726);
}

header {
  height: 60px;
  width: 100%;
  background-color: #22384e;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  background-color: #999898;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

#logo a {
  line-height: 60px;
  padding: 0 20px;
  color: burlywood;
  display: block;
  font-size: 24px;
  font-weight: bold;
}

#pc-nav {
  margin: 0 0 0 auto;
}

#pc-nav a {
  line-height: 60px;
  padding: 0 25px;
  color: white;
  display: block;
}

#pc-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

#sp-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#sp-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
}

#sp-nav li a,
#sp-nav li span {
  display: block;
  padding: 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 60px;
  margin: 0 15px 0 auto;
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.message {
  font-size: 16px;
  margin-bottom: 5px;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-wrapper form {
  width: 50%;
}

.btn {
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:disabled {
  opacity: 0.3;
}

.btn-normal {
  width: 50%;
}

.btn-small {
  width: 33%;
}

.btn-green {
  background-color: #5dca88;
  -webkit-box-shadow: 2px 2px #1a7940;
          box-shadow: 2px 2px #1a7940;
}

.btn-blue {
  background-color: #60d0e4;
  -webkit-box-shadow: 2px 2px #0a7b8f;
          box-shadow: 2px 2px #0a7b8f;
}

.btn-red {
  background-color: #f06363;
  -webkit-box-shadow: 2px 2px #9b1111;
          box-shadow: 2px 2px #9b1111;
}

.btn-gray {
  background-color: #999595;
  -webkit-box-shadow: 2px 2px #504e4e;
          box-shadow: 2px 2px #504e4e;
}

.menu {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.edit-input {
  width: 40%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.edit-input form {
  text-align: left;
}

.edit-input form input,
.edit-input form select {
  display: block;
}

.input-form {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.input-form th,
.input-form td {
  padding: 15px;
  border: 1px solid #ccc;
}

.input-form th {
  text-align: center;
  width: 45%;
  background-color: #eee;
}

.input-form td {
  text-align: left;
  width: 55%;
}

.input-form .form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-form .form-select {
  width: 75px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-confirm {
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.confirm-table {
  width: 50%;
  border-collapse: collapse;
  margin: 15px auto;
}

.confirm-table th,
.confirm-table td {
  padding: 15px;
  border: 1px solid #ccc;
}

.confirm-table th {
  font-size: 14px;
  text-align: center;
  width: 45%;
  background-color: #eee;
}

.confirm-table td {
  text-align: center;
  width: 55%;
}

.edit-table {
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

#data-table tbody tr {
  cursor: pointer;
}

#data-table th,
#data-table td {
  padding: 10px 0;
  text-align: center;
}

#data-table td:nth-child(1) {
  width: 20%;
}

#data-table td:nth-child(2) {
  width: 20%;
}

#data-table td:nth-child(3) {
  width: 30%;
}

#data-table td:nth-child(4) {
  width: 30%;
}

#data-table tr:nth-child(odd) {
  background-color: #eee;
}

#data-table .table-header {
  color: #fff;
  background: #333333;
}

#data-table .selected-row {
  background-color: #134fff !important;
  color: white;
}

.radio-fieldset {
  margin: 15px 0;
  padding: 15px;
  border: solid 1px #0018ff33;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-fieldset legend {
  font-size: 16px;
  color: #0000ff;
  text-align: center;
}

.radio-fieldset input[type="radio"] {
  display: none;
}

.radio-fieldset input[type="radio"]:checked + .radio-label {
  background: #31a9ee;
  color: #ffffff;
}

.radio-fieldset .radio-label {
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border: 2px solid #006dd9;
  border-radius: 20px;
  width: 30%;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.radio-fieldset .radio-label:hover {
  background-color: #e2edf9;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

.quiz {
  width: 70%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.quiz-fieldset {
  margin: 10px 0;
  padding: 10px;
  border: solid 1px #0018ff33;
  border-radius: 6px;
}

.quiz-fieldset legend {
  font-size: 16px;
  color: #0000ff;
  text-align: left;
}

.quiz-fieldset .description-table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  margin: 10px 0;
}

.quiz-fieldset .description-table th,
.quiz-fieldset .description-table td {
  padding: 15px;
  border: 1px solid #ccc;
}

.quiz-fieldset .description-table th {
  text-align: center;
  background-color: #eee;
}

.quiz-fieldset .description-table td {
  text-align: left;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choices .choice-area {
  width: 40%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.choices .choice-area input[type="radio"] {
  display: none;
}

.choices .choice-area input[type="radio"]:checked + .choice-label {
  background: #31a9ee;
  color: #ffffff;
}

.choices .choice-area .choice-label {
  display: inline-block;
  font-size: 16px;
  border: 1px solid #006dd9;
  border-radius: 20px;
  width: 65%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.choices .choice-area .choice-label:hover {
  background-color: #e2edf9;
}

#notification-area {
  display: none;
  text-align: center;
  padding: 10px;
}

#answer-message {
  border-radius: 10px;
  padding: 7px;
}

#text-question {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

#text-answer {
  display: none;
}

.correct {
  background-color: #9af3be;
}

.incorrect {
  background-color: #ffbebe;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result .result-table {
  width: 45%;
  font-size: 16px;
  border-collapse: collapse;
  margin: 0 auto;
}

.result .result-table th,
.result .result-table td {
  width: 50%;
  padding: 15px;
  border: 1px solid #ccc;
}

.result .result-table th {
  text-align: right;
  background-color: #eee;
}

.result .result-table td {
  text-align: right;
}

.result .incorrect-area {
  width: 45%;
  height: 290px;
  overflow-y: scroll;
  font-size: 16px;
  border: solid 2px #0018ff33;
  border-radius: 6px;
  padding: 15px;
  margin: 0 auto;
}

.result .incorrect-area legend {
  font-size: 16px;
  color: #0000ff;
  text-align: center;
}

@media screen and (max-width: 640px) {
  #pc-nav {
    display: none;
  }
  #hamburger {
    display: block;
  }
  .main-contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3px;
  }
  .menu {
    width: 100%;
  }
  .edit-input,
  .edit-table,
  .edit-confirm,
  .quiz {
    width: 100%;
  }
  .input-form {
    font-size: 14px;
  }
  .confirm-table {
    width: 100%;
  }
  .title {
    font-size: 18px;
  }
  .message {
    font-size: 14px;
  }
  .btn-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .btn {
    font-size: 16px;
  }
  .btn-normal,
  .btn-small {
    width: 60%;
  }
  .radio-fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radio-fieldset legend {
    font-size: 14px;
  }
  .radio-fieldset .radio-label {
    font-size: 14px;
    width: 70%;
  }
  #data-table {
    font-size: 14px;
  }
  .quiz-fieldset legend {
    font-size: 14px;
  }
  .quiz-fieldset .description-table {
    font-size: 14px;
  }
  .choices {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choices .choice-area {
    width: 100%;
    margin: 5px;
  }
  .choices .choice-area .choice-label {
    font-size: 14px;
  }
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result .result-table {
    width: 85%;
    font-size: 14px;
  }
  .result .incorrect-area {
    width: 85%;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */