@charset "UTF-8";
/*----------------------------------------------

共通

----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN";
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(233, 225, 225, 0.726);
}

.container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.message {
  font-size: 16px;
  margin-bottom: 5px;
}

.highlight-y {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, yellow));
  background: linear-gradient(transparent 40%, yellow 40%);
}

.highlight-b {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #6cf));
  background: linear-gradient(transparent 40%, #6cf 40%);
}

.highlight-g {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #6f6));
  background: linear-gradient(transparent 40%, #6f6 40%);
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.color-green {
  color: green;
}

/*----------------------------------------------

ヘッダー関連

----------------------------------------------*/
header {
  height: 60px;
  width: 100%;
  background-color: #22384e;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  z-index: 100;
}

#logo a {
  line-height: 60px;
  padding: 0 20px;
  color: burlywood;
  display: block;
  font-size: 24px;
  font-weight: bold;
}

#pc-nav {
  margin: 0 0 0 auto;
}

#pc-nav a {
  line-height: 60px;
  padding: 0 20px;
  color: white;
  display: block;
}

#pc-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

#sp-nav {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#sp-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
}

#sp-nav li a,
#sp-nav li span {
  display: block;
  padding: 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#sp-nav li i {
  margin-right: 5px;
}

#hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 60px;
  margin: 0 15px 0 auto;
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/*----------------------------------------------

フッター関連

----------------------------------------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  background-color: #999898;
}

/*----------------------------------------------

ボタン関連

----------------------------------------------*/
.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-wrapper form {
  width: 50%;
}

.btn {
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:disabled {
  opacity: 0.3;
}

.btn-normal {
  width: 50%;
}

.btn-small {
  width: 33%;
}

.btn-green {
  background-color: #5dca88;
  -webkit-box-shadow: 2px 2px #1a7940;
          box-shadow: 2px 2px #1a7940;
}

.btn-blue {
  background-color: #60d0e4;
  -webkit-box-shadow: 2px 2px #0a7b8f;
          box-shadow: 2px 2px #0a7b8f;
}

.btn-red {
  background-color: #f06363;
  -webkit-box-shadow: 2px 2px #9b1111;
          box-shadow: 2px 2px #9b1111;
}

.btn-gray {
  background-color: #999595;
  -webkit-box-shadow: 2px 2px #504e4e;
          box-shadow: 2px 2px #504e4e;
}

/*----------------------------------------------

トップページ

----------------------------------------------*/
.top-image {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.top-image img {
  width: 35%;
  margin-top: 15px;
}

.menu {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.menu .login-info {
  border-collapse: collapse;
  font-size: 16px;
  margin: 0 auto;
  width: 90%;
}

.menu .login-info span {
  color: #019b37;
  font-weight: bold;
  padding: 0 3px;
}

.menu .login-info th,
.menu .login-info td {
  padding: 10px 15px;
}

.menu .login-info td .count-progress {
  display: inline-block;
  width: 80%;
  border-radius: 15px;
  height: 10px;
  background-color: #e9edf1;
  position: relative;
}

.menu .login-info td .count-progress .count-progress-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 0%;
  height: 100%;
  background-color: #6cd8a2;
}

.menu .login-info tr:nth-child(odd) {
  background-color: #f1f8ff;
}

.menu .login-info tr:nth-child(odd) th {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.menu .login-info tr:nth-child(odd) td {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}

/*----------------------------------------------

ログインページ

----------------------------------------------*/
.login {
  width: 60%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.login input[type="text"],
.login input[type="password"] {
  display: inline-block;
  width: 70%;
  height: 35px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  outline: none;
  border-color: dodgerBlue;
  -webkit-box-shadow: 0 0 5px 0 dodgerBlue;
          box-shadow: 0 0 5px 0 dodgerBlue;
}

.login input[type="text"]::-webkit-input-placeholder,
.login input[type="password"]::-webkit-input-placeholder {
  font-size: 12px;
}

.login input[type="text"]:-ms-input-placeholder,
.login input[type="password"]:-ms-input-placeholder {
  font-size: 12px;
}

.login input[type="text"]::-ms-input-placeholder,
.login input[type="password"]::-ms-input-placeholder {
  font-size: 12px;
}

.login input[type="text"]::placeholder,
.login input[type="password"]::placeholder {
  font-size: 12px;
}

/*----------------------------------------------

編集ページ

----------------------------------------------*/
.edit-input {
  width: 40%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.edit-input form {
  text-align: left;
}

.edit-input form input,
.edit-input form select {
  display: block;
}

.input-form {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.input-form th,
.input-form td {
  padding: 15px;
  border: 1px solid #ccc;
}

.input-form th {
  text-align: center;
  width: 40%;
  background-color: #eee;
}

.input-form td {
  text-align: left;
  width: 60%;
}

.input-form .form-text {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-form .form-text:focus {
  outline: none;
  border-color: dodgerBlue;
  -webkit-box-shadow: 0 0 5px 0 dodgerBlue;
          box-shadow: 0 0 5px 0 dodgerBlue;
}

.input-form .form-select {
  font-size: 16px;
  width: 75px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-form .form-select:focus {
  outline: none;
  border-color: dodgerBlue;
  -webkit-box-shadow: 0 0 5px 0 dodgerBlue;
          box-shadow: 0 0 5px 0 dodgerBlue;
}

.input-form .form-checkbox {
  display: none;
}

.input-form .form-checkbox + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

.input-form .form-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-form .form-checkbox:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #585753;
}

.edit-confirm {
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.confirm-table {
  width: 50%;
  border-collapse: collapse;
  margin: 15px auto;
}

.confirm-table th,
.confirm-table td {
  padding: 15px;
  border: 1px solid #ccc;
}

.confirm-table th {
  font-size: 14px;
  text-align: center;
  width: 45%;
  background-color: #eee;
}

.confirm-table td {
  text-align: center;
  width: 55%;
}

.edit-table {
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

#data-table tbody tr {
  cursor: pointer;
}

#data-table th,
#data-table td {
  padding: 10px 0;
  text-align: center;
}

#data-table td:nth-child(1) {
  width: 20%;
}

#data-table td:nth-child(2) {
  width: 20%;
}

#data-table td:nth-child(3) {
  width: 30%;
}

#data-table td:nth-child(4) {
  width: 30%;
}

#data-table tr:nth-child(odd) {
  background-color: #eee;
}

#data-table .table-header {
  color: #fff;
  background: #333333;
}

#data-table .selected-row {
  background-color: #134fff !important;
}

#data-table .selected-row th,
#data-table .selected-row td {
  color: white !important;
}

.radio-fieldset {
  margin: 15px 0;
  padding: 15px;
  border: solid 1px #0018ff33;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-fieldset legend {
  font-size: 16px;
  color: #0000ff;
  text-align: center;
}

.radio-fieldset input[type="radio"] {
  display: none;
}

.radio-fieldset input[type="radio"]:checked + .radio-label {
  background: #31a9ee;
  color: #ffffff;
}

.radio-fieldset .radio-label {
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border: 2px solid #006dd9;
  border-radius: 20px;
  width: 30%;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.radio-fieldset .radio-label:hover {
  background-color: #e2edf9;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

/*----------------------------------------------

クイズ画面

----------------------------------------------*/
.quiz {
  width: 70%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.quiz-fieldset {
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #0018ff33;
  border-radius: 6px;
}

.quiz-fieldset legend {
  font-size: 16px;
  color: #0000ff;
  text-align: left;
}

.quiz-fieldset .description-table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  margin: 10px 0;
}

.quiz-fieldset .description-table th,
.quiz-fieldset .description-table td {
  padding: 15px;
  border: 1px solid #ccc;
}

.quiz-fieldset .description-table th {
  text-align: center;
  background-color: #eee;
}

.quiz-fieldset .description-table td {
  text-align: left;
}

#choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#choices .choice-area {
  width: 40%;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

#choices .choice-area input[type="radio"] {
  display: none;
}

#choices .choice-area input[type="radio"]:checked + .choice-label {
  background: #31a9ee;
  color: #ffffff;
}

#choices .choice-area .choice-label {
  display: inline-block;
  font-size: 18px;
  border: 1px solid #006dd9;
  border-radius: 20px;
  width: 75%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

#choices .choice-area .choice-label:hover {
  background-color: #e2edf9;
}

#notification-area {
  display: none;
  text-align: center;
  padding: 10px;
}

#answer-message {
  border-radius: 10px;
  padding: 7px;
  font-size: 20px;
}

#answer-message i {
  margin-right: 5px;
}

#text-question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#text-answer {
  display: none;
}

.correct {
  background-color: #9af3be;
  -webkit-animation: poyoyon2 1s ease-in-out 1 forwards;
          animation: poyoyon2 1s ease-in-out 1 forwards;
}

.incorrect {
  background-color: #ffbebe;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result .result-table {
  width: 45%;
  font-size: 16px;
  border-collapse: collapse;
  margin: 0 auto;
}

.result .result-table th,
.result .result-table td {
  width: 50%;
  padding: 15px;
  border: 1px solid #ccc;
}

.result .result-table th {
  text-align: right;
  background-color: #eee;
}

.result .result-table td {
  text-align: right;
}

.result .result-table tr:nth-child(3) td {
  color: red;
}

.result .result-table tr:nth-child(4) td {
  color: #00c546;
}

.result .result-table #count-progress {
  display: inline-block;
  width: 80%;
  border-radius: 15px;
  height: 10px;
  background-color: #e9edf1;
  position: relative;
}

.result .result-table #count-progress #count-progress-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 0%;
  height: 100%;
  background-color: #6cd8a2;
}

.result .incorrect-area {
  width: 45%;
  height: 290px;
  overflow-y: scroll;
  font-size: 16px;
  border: solid 2px #0018ff33;
  border-radius: 6px;
  padding: 15px;
  margin: 0 auto;
}

.result .incorrect-area legend {
  font-size: 16px;
  color: #0000ff;
  text-align: center;
}

#audio-correct,
#audio-incorrect {
  display: none;
}

/*----------------------------------------------

アニメーション関連

----------------------------------------------*/
.poyopoyo {
  -webkit-animation: poyopoyo 1.5s ease-out infinite;
          animation: poyopoyo 1.5s ease-out infinite;
  opacity: 1;
}

.poyoyon {
  -webkit-animation: poyoyon 1s ease-in-out 1 forwards;
          animation: poyoyon 1s ease-in-out 1 forwards;
}

.fadein {
  opacity: 0;
  -webkit-animation: fadein 0.5s ease-in 1 forwards;
          animation: fadein 0.5s ease-in 1 forwards;
}

.fadeup {
  opacity: 0;
  -webkit-animation: fadeup 0.4s ease-in 1 forwards;
          animation: fadeup 0.4s ease-in 1 forwards;
}

.delay-time-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-time-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-time-3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-time-4 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.delay-time-5 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.delay-time-6 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.delay-time-7 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes poyoyon {
  0% {
    -webkit-transform: scale(1, 1) translate(0, 0);
            transform: scale(1, 1) translate(0, 0);
  }
  15% {
    -webkit-transform: scale(0.98, 0.9) translate(0, 5px);
            transform: scale(0.98, 0.9) translate(0, 5px);
  }
  30% {
    -webkit-transform: scale(1.02, 1) translate(0, 8px);
            transform: scale(1.02, 1) translate(0, 8px);
  }
  50% {
    -webkit-transform: scale(0.98, 1.05) translate(0, -8px);
            transform: scale(0.98, 1.05) translate(0, -8px);
  }
  70% {
    -webkit-transform: scale(1, 0.9) translate(0, 5px);
            transform: scale(1, 0.9) translate(0, 5px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0, 0);
            transform: scale(1, 1) translate(0, 0);
  }
  0%,
  100% {
    opacity: 1;
  }
}

@keyframes poyoyon {
  0% {
    -webkit-transform: scale(1, 1) translate(0, 0);
            transform: scale(1, 1) translate(0, 0);
  }
  15% {
    -webkit-transform: scale(0.98, 0.9) translate(0, 5px);
            transform: scale(0.98, 0.9) translate(0, 5px);
  }
  30% {
    -webkit-transform: scale(1.02, 1) translate(0, 8px);
            transform: scale(1.02, 1) translate(0, 8px);
  }
  50% {
    -webkit-transform: scale(0.98, 1.05) translate(0, -8px);
            transform: scale(0.98, 1.05) translate(0, -8px);
  }
  70% {
    -webkit-transform: scale(1, 0.9) translate(0, 5px);
            transform: scale(1, 0.9) translate(0, 5px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0, 0);
            transform: scale(1, 1) translate(0, 0);
  }
  0%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes poyopoyo {
  0%,
  40%,
  60%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  70% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes poyopoyo {
  0%,
  40%,
  60%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  70% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

/*----------------------------------------------

レスポンシブ

----------------------------------------------*/
@media screen and (max-width: 640px) {
  #pc-nav {
    display: none;
  }
  #hamburger {
    display: block;
  }
  .top-image img {
    width: 70%;
    margin-top: 15px;
  }
  .main-contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3px;
  }
  .menu,
  .login,
  .edit-input,
  .edit-table,
  .edit-confirm,
  .quiz {
    width: 100%;
    padding: 10px;
  }
  .menu .login-info {
    font-size: 14px;
  }
  .input-form {
    font-size: 14px;
  }
  .input-form .form-text,
  .input-form .form-select {
    font-size: 14px;
  }
  .confirm-table {
    width: 100%;
  }
  .title {
    font-size: 18px;
  }
  .message {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
  }
  .btn-normal,
  .btn-small {
    width: 60%;
  }
  .radio-fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radio-fieldset legend {
    font-size: 14px;
  }
  .radio-fieldset .radio-label {
    font-size: 14px;
    width: 70%;
  }
  #data-table {
    font-size: 14px;
  }
  .quiz-fieldset legend {
    font-size: 14px;
  }
  .quiz-fieldset .description-table {
    font-size: 14px;
  }
  #choices {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #choices .choice-area {
    width: 100%;
    margin: 5px;
  }
  #choices .choice-area .choice-label {
    font-size: 16px;
    width: 90%;
  }
  #text-question {
    font-size: 22px;
  }
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result .result-table {
    width: 85%;
    font-size: 14px;
  }
  .result .incorrect-area {
    width: 85%;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */