/*----------------------------------------------

共通

----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN";
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: rgba(233, 225, 225, 0.726);
}

.container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.main-contents {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.message {
  font-size: 16px;
  margin-bottom: 5px;
}

.highlight-y {
  background: linear-gradient(transparent 40%, yellow 40%);
}

.highlight-b {
  background: linear-gradient(transparent 40%, #6cf 40%);
}

.highlight-g {
  background: linear-gradient(transparent 40%, #6f6 40%);
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.color-green {
  color: green;
}

/*----------------------------------------------

ヘッダー関連

----------------------------------------------*/
header {
  height: 60px;
  width: 100%;
  background-color: rgba(34, 56, 78, 1);
  position: fixed;
  display: flex;
  top: 0;
  z-index: 100;
}

#logo {
  a {
    line-height: 60px;
    padding: 0 20px;
    color: burlywood;
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
}

#pc-nav {
  margin: 0 0 0 auto;
  a {
    line-height: 60px;
    padding: 0 20px;
    color: white;
    display: block;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
}

#sp-nav {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
  }
  li {
    a,
    span {
      display: block;
      padding: 20px;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }

    i {
      margin-right: 5px;
    }
  }
}

#hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 60px;
  margin: 0 15px 0 auto;
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/*----------------------------------------------

フッター関連

----------------------------------------------*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(153, 152, 152);
}

/*----------------------------------------------

ボタン関連

----------------------------------------------*/
.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 50%;
  }
}

.btn {
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.3;
  }
}

.btn-normal {
  width: 50%;
}

.btn-small {
  width: 33%;
}

.btn-green {
  background-color: #5dca88;
  box-shadow: 2px 2px #1a7940;
}

.btn-blue {
  background-color: #60d0e4;
  box-shadow: 2px 2px #0a7b8f;
}

.btn-red {
  background-color: #f06363;
  box-shadow: 2px 2px #9b1111;
}

.btn-gray {
  background-color: #999595;
  box-shadow: 2px 2px #504e4e;
}

/*----------------------------------------------

トップページ

----------------------------------------------*/
.top-image {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  img {
    width: 35%;
    margin-top: 15px;
  }
}
.menu {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;

  .login-info {
    border-collapse: collapse;
    font-size: 16px;
    margin: 0 auto;
    width: 90%;

    span {
      color: #019b37;
      font-weight: bold;
      padding: 0 3px;
    }

    th,
    td {
      padding: 10px 15px;
    }

    td {
      .count-progress {
        display: inline-block;
        width: 80%;
        border-radius: 15px;
        height: 10px;
        background-color: #e9edf1;
        position: relative;

        .count-progress-bar {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
          width: 0%;
          height: 100%;
          background-color: #6cd8a2;
        }
      }
    }

    tr:nth-child(odd) {
      background-color: #f1f8ff;
      th {
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0px;
      }
      td {
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

/*----------------------------------------------

ログインページ

----------------------------------------------*/
.login {
  width: 60%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;

  input[type="text"],
  input[type="password"] {
    display: inline-block;
    width: 70%;
    height: 35px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
      border-color: dodgerBlue;
      box-shadow: 0 0 5px 0 dodgerBlue;
    }

    &::placeholder {
      font-size: 12px;
    }
  }
}

/*----------------------------------------------

編集ページ

----------------------------------------------*/
.edit-input {
  width: 40%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  form {
    text-align: left;
    input,
    select {
      display: block;
    }
  }
}

.input-form {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;

  th,
  td {
    padding: 15px;
    border: 1px solid #ccc;
  }

  th {
    text-align: center;
    width: 40%;
    background-color: #eee;
  }

  td {
    text-align: left;
    width: 60%;
  }

  .form-text {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    &:focus {
      outline: none;
      border-color: dodgerBlue;
      box-shadow: 0 0 5px 0 dodgerBlue;
    }
  }

  .form-select {
    font-size: 16px;
    width: 75px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:focus {
      outline: none;
      border-color: dodgerBlue;
      box-shadow: 0 0 5px 0 dodgerBlue;
    }
  }

  .form-checkbox {
    display: none;

    + label {
      display: none;
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding-left: 25px;
      padding-right: 10px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        left: 0;
        top: 50%;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    &:checked + label::after {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: 18px;
      height: 9px;
      margin-top: -9px;
      top: 50%;
      left: 3px;
      transform: rotate(-45deg);
      border-bottom: 3px solid;
      border-left: 3px solid;
      border-color: #585753;
    }
  }
}

.edit-confirm {
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.confirm-table {
  width: 50%;
  border-collapse: collapse;
  margin: 15px auto;

  th,
  td {
    padding: 15px;
    border: 1px solid #ccc;
  }

  th {
    font-size: 14px;
    text-align: center;
    width: 45%;
    background-color: #eee;
  }

  td {
    text-align: center;
    width: 55%;
  }
}

.edit-table {
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;

  tbody tr {
    cursor: pointer;
  }

  th,
  td {
    padding: 10px 0;
    text-align: center;
  }

  td:nth-child(1) {
    width: 20%;
  }
  td:nth-child(2) {
    width: 20%;
  }
  td:nth-child(3) {
    width: 30%;
  }
  td:nth-child(4) {
    width: 30%;
  }

  tr:nth-child(odd) {
    background-color: #eee;
  }

  .table-header {
    color: #fff;
    background: rgb(51, 51, 51);
  }

  .selected-row {
    background-color: #134fff !important;
    th,
    td {
      color: white !important;
    }
  }
}

.radio-fieldset {
  margin: 15px 0;
  padding: 15px;
  border: solid 1px #0018ff33;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  legend {
    font-size: 16px;
    color: #0000ff;
    text-align: center;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .radio-label {
    background: #31a9ee;
    color: #ffffff;
  }

  .radio-label {
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border: 2px solid #006dd9;
    border-radius: 20px;
    width: 30%;
    padding: 5px;
    cursor: pointer;
    text-align: center;
  }

  .radio-label:hover {
    background-color: #e2edf9;
  }
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

/*----------------------------------------------

クイズ画面

----------------------------------------------*/
.quiz {
  width: 70%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.quiz-fieldset {
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #0018ff33;
  border-radius: 6px;

  legend {
    font-size: 16px;
    color: #0000ff;
    text-align: left;
  }

  .description-table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    margin: 10px 0;

    th,
    td {
      padding: 15px;
      border: 1px solid #ccc;
    }

    th {
      text-align: center;
      background-color: #eee;
    }

    td {
      text-align: left;
    }
  }
}

#choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .choice-area {
    width: 40%;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + .choice-label {
      background: #31a9ee;
      color: #ffffff;
    }

    .choice-label {
      display: inline-block;
      font-size: 18px;
      border: 1px solid #006dd9;
      border-radius: 20px;
      width: 75%;
      padding: 10px;
      cursor: pointer;
      text-align: center;
    }

    .choice-label:hover {
      background-color: #e2edf9;
    }
  }
}

#notification-area {
  display: none;
  text-align: center;
  padding: 10px;
}

#answer-message {
  border-radius: 10px;
  padding: 7px;
  font-size: 20px;

  i {
    margin-right: 5px;
  }
}

#text-question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#text-answer {
  display: none;
}

.correct {
  background-color: #9af3be;
  animation: poyoyon2 1s ease-in-out 1 forwards;
}

.incorrect {
  background-color: #ffbebe;
}

.result {
  display: flex;
  justify-content: center;

  .result-table {
    width: 45%;
    font-size: 16px;
    border-collapse: collapse;
    margin: 0 auto;

    th,
    td {
      width: 50%;
      padding: 15px;
      border: 1px solid #ccc;
    }

    th {
      text-align: right;
      background-color: #eee;
    }

    td {
      text-align: right;
    }

    tr:nth-child(3) td {
      color: red;
    }

    tr:nth-child(4) td {
      color: #00c546;
    }

    #count-progress {
      display: inline-block;
      width: 80%;
      border-radius: 15px;
      height: 10px;
      background-color: #e9edf1;
      position: relative;

      #count-progress-bar {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        width: 0%;
        height: 100%;
        background-color: #6cd8a2;
      }
    }
  }

  .incorrect-area {
    width: 45%;
    height: 290px;
    overflow-y: scroll;
    font-size: 16px;
    border: solid 2px #0018ff33;
    border-radius: 6px;
    padding: 15px;
    margin: 0 auto;

    legend {
      font-size: 16px;
      color: #0000ff;
      text-align: center;
    }
  }
}

#audio-correct,
#audio-incorrect {
  display: none;
}

/*----------------------------------------------

アニメーション関連

----------------------------------------------*/
.poyopoyo {
  animation: poyopoyo 1.5s ease-out infinite;
  opacity: 1;
}

.poyoyon {
  animation: poyoyon 1s ease-in-out 1 forwards;
}

.fadein {
  opacity: 0;
  animation: fadein 0.5s ease-in 1 forwards;
}

.fadeup {
  opacity: 0;
  animation: fadeup 0.4s ease-in 1 forwards;
}

.delay-time-1 {
  animation-delay: 0s;
}

.delay-time-2 {
  animation-delay: 0.4s;
}

.delay-time-3 {
  animation-delay: 0.8s;
}

.delay-time-4 {
  animation-delay: 1.2s;
}

.delay-time-5 {
  animation-delay: 1.6s;
}

.delay-time-6 {
  animation-delay: 2s;
}

.delay-time-7 {
  animation-delay: 2.4s;
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes poyoyon {
  0% {
    transform: scale(1, 1) translate(0, 0);
  }
  15% {
    transform: scale(0.98, 0.9) translate(0, 5px);
  }
  30% {
    transform: scale(1.02, 1) translate(0, 8px);
  }
  50% {
    transform: scale(0.98, 1.05) translate(0, -8px);
  }
  70% {
    transform: scale(1, 0.9) translate(0, 5px);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
  }
  0%,
  100% {
    opacity: 1;
  }
}

@keyframes poyopoyo {
  0%,
  40%,
  60%,
  80% {
    transform: scale(1);
  }
  50%,
  70% {
    transform: scale(0.95);
  }
}

/*----------------------------------------------

レスポンシブ

----------------------------------------------*/
@media screen and (max-width: 640px) {
  #pc-nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .top-image {
    img {
      width: 70%;
      margin-top: 15px;
    }
  }

  .main-contents {
    flex-wrap: wrap;
    padding: 3px;
  }

  .menu,
  .login,
  .edit-input,
  .edit-table,
  .edit-confirm,
  .quiz {
    width: 100%;
    padding: 10px;
  }

  .menu {
    .login-info {
      font-size: 14px;
    }
  }

  .input-form {
    font-size: 14px;
    .form-text,
    .form-select {
      font-size: 14px;
    }
  }

  .confirm-table {
    width: 100%;
  }

  .title {
    font-size: 18px;
  }

  .message {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }

  .btn-normal,
  .btn-small {
    width: 60%;
  }

  .radio-fieldset {
    flex-direction: column;
    legend {
      font-size: 14px;
    }
    .radio-label {
      font-size: 14px;
      width: 70%;
    }
  }

  #data-table {
    font-size: 14px;
  }

  .quiz-fieldset {
    legend {
      font-size: 14px;
    }

    .description-table {
      font-size: 14px;
    }
  }

  #choices {
    flex-wrap: nowrap;
    flex-direction: column;

    .choice-area {
      width: 100%;
      margin: 5px;

      .choice-label {
        font-size: 16px;
        width: 90%;
      }
    }
  }

  #text-question {
    font-size: 22px;
  }

  .result {
    flex-direction: column;

    .result-table {
      width: 85%;
      font-size: 14px;
    }

    .incorrect-area {
      width: 85%;
      font-size: 14px;
    }
  }
}
