* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: rgba(233, 225, 225, 0.726);
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(34, 56, 78, 1);
  position: fixed;
  display: flex;
  top: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(153, 152, 152);
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

#logo {
  a {
    line-height: 60px;
    padding: 0 20px;
    color: burlywood;
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
}

#pc-nav {
  margin: 0 0 0 auto;
  a {
    line-height: 60px;
    padding: 0 25px;
    color: white;
    display: block;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
}

#sp-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
  }
  li {
    a,
    span {
      display: block;
      padding: 20px;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }
  }
}

#hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 60px;
  margin: 0 15px 0 auto;
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.main-contents {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.menu {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.message {
  font-size: 16px;
  margin-bottom: 5px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.3;
  }
}

.btn-normal {
  width: 50%;
}

.btn-small {
  width: 33%;
}

.btn-green {
  background-color: #5dca88;
  box-shadow: 2px 2px #1a7940;
}

.btn-blue {
  background-color: #60d0e4;
  box-shadow: 2px 2px #0a7b8f;
}

.btn-red {
  background-color: #f06363;
  box-shadow: 2px 2px #9b1111;
}

.btn-gray {
  background-color: #999595;
  box-shadow: 2px 2px #504e4e;
}

.edit-input {
  width: 40%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
  form {
    text-align: left;
    input,
    select {
      display: block;
    }
  }
}

.input-form {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 15px;
    border: 1px solid #ccc;
  }

  th {
    font-size: 14px;
    text-align: center;
    width: 45%;
    background-color: #eee;
  }

  td {
    text-align: left;
    width: 55%;
  }

  .form-text{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-select{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.edit-confirm {
  width: 70%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.confirm-table{
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;

  th,
  td {
    padding: 15px;
    border: 1px solid #ccc;
  }

  th {
    font-size: 14px;
    text-align: center;
    width: 45%;
    background-color: #eee;
  }

  td {
    text-align: left;
    width: 55%;
  }
}

.edit-table {
  width: 60%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  th,
  td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
  }

  tr:nth-child(odd) {
    background-color: #eee;
  }

  .table-header {
    color: #fff;
    background: rgb(51, 51, 51);
  }
}

.selected-row {
  background-color: rgb(149, 174, 248) !important;
}

.radio {
  text-align: left;
  .radio-label {
    margin-right: 15px;
  }
}

.quiz {
  width: 70%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
}

.choices {
  display: flex;
  flex-wrap: wrap;
}

.choice-area {
  width: 50%;
  padding: 10px;
}

#text-answer {
  display: none;
}

.correct {
  background-color: rgb(141, 218, 174);
}

.incorrect {
  background-color: rgb(236, 131, 131);
}

@media screen and (max-width: 640px) {
  #pc-nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .main-contents {
    flex-wrap: wrap;
    padding: 3px;
  }

  .menu {
    width: 100%;
  }

  .edit-input,
  .edit-table,
  .edit-confirm {
    width: 100%;
  }

  .confirm-table{
    width: 100%;
  }

  .title {
    font-size: 18px;
  }

  .message {
    font-size: 14px;
  }

  .btn-wrapper {
    flex-wrap: wrap;
  }

  .btn-normal,
  .btn-small {
    width: 60%;
  }
}
